---
layout: layouts/base.njk
permalink: /
---
<main>
  <div id="homegrid">
    <a id="issueone-button" href="/one/" title="Take Shape No.1">Issue One</a>
    <a id="issuetwo-button" href="/two/" title="Take Shape No.2">Issue Two</a>
    <a id="issuethree-button" href="/three/" title="Take Shape No.3">Issue Three</a>
    <a id="issuefour-button" href="/four/" title="CFP: Take Shape No.4">Issue Four</a>
  </div>
</main>