---
layout: layouts/base.njk
permalink: /
---
<main>
  <div id="issue-bttns">
    <a id="one-bttn" href="/one/" title="One"></a>
    <a id="two-bttn" href="/two/" title="Two"></a>
    <a id="three-bttn" href="/three/" title="Three"></a>
    <a id="four-bttn" href="/four/" title="Four"></a>
  </div>
</main>