  <header>
    <a id="header-bttn" onclick="header()">TS</a>
    <aside id="header" style="display: none">
      <aside><a id="close-header-bttn" onclick="header()">✕</a></aside><span><i>Take Shape</i> is a publication on the built environment. At five years old, it is a chaotic child feeling its way around new spaces.</span> 
      <a></a>
      <ul>
        <li>Editors</li>
        <li>Nolan Boomer</li>
        <li>Julia Goodman</li>
        <li>Cole Cataneo</li>
        <li>Benjamin Good</li>      
      </ul>
      <a></a>
      <ul>
        <li>Previously</li>
        <li>Paolo Yumol</li>   
        <li>Sean Suchara</li>
      </ul>
      <a></a><p>Built with Eleventy and Netlify CMS</p>


    </aside>
  </header>
  <main>
