/* ISSUE THREE */

/* BODY */
#issuethree {
    width: 100%;
    height: 100vh;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  /* FOOTER */
  #issuethree footer * {
    color: white;
  }
  #issuethree #mce-EMAIL {
    border-bottom: 1px solid white;
  }
  
  /* HOME BUTTON */
  #issuethree #homebttn {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 1rem;
    left: 0.5rem;
    background-color: white;
    cursor: w-resize;
  }
  
  
  /* SECTIONS */
  #issuethree section {
    width: 100%;
    height: auto;
    /* min-height: 160vh; */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 0.5rem 10rem;
  }
  #one {
    min-height: 100vh !important;
  }
  #two {
    min-height: 100vh;
  }
  #three {
    min-height: 160vh;
  }
  #four {
    min-height: 160vh;
  }
  #five {
    min-height: 160vh;
  }
  #six {
    min-height: 160vh;
  }
  #seven {
    min-height: 100vh;
  }
  .section-title {
    width: 100%;
    text-align: center;
    padding: 1rem;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 1000;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .section-title h1 {
    width: 100%;
    margin: 0 auto;
    font-size: 6rem;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    color: white;
  }
  
  
  
  /* ARTICLES */
  .article {
    position: relative;
    height: 75vh;
    min-width: calc(49% - 0.25rem);
    margin: 0.5rem;
    background-color: white;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    flex-grow: 1;
    overflow: hidden;
  }
  .articlebutton {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
  }
  .articlebutton h3 {
    font-size: 2rem;
    font-weight: 500;
    max-width: 25vw;
    padding: 0 1rem;
    text-align: center;
  }
  .articlebutton h4 {
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 25vw;
    padding: 1rem;
    text-align: center;
  }
  
  /* ARTICLE CONTENT */
  .closebttn {
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: initial;
    cursor: w-resize;
  }
  .closebttnend {
    margin: 3rem auto;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    cursor: w-resize;
  }
  . header {
    padding: 3rem 0;
  }
   h1 {
    margin: 0 auto;
    padding: 0 0 0;
    width: 50%;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
  }
   h2 {
    margin: 0 auto;
    padding: 0 0 0;
    width: 50%;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
  }
   h3 {
    margin: 0 auto;
    padding: 1rem 0 0;
    width: 50%;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;
  }
   h4 {
    margin: 0 auto;
    padding: 6rem 0 2rem;
    width: 100%;
    text-align: center;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.75rem;
  }
   p {
    padding: 0 0 1rem;
    width: 50%;
    margin: 0 auto;
    font-family: "TiemposText-Regular", serif;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
   i {
    padding: 0;
    width: 50%;
    margin: 0 auto;
    font-family: "TiemposText-Regular", serif;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
   a {
    color: #235BA8;
  }
   a:visited {
    color: #19975D;
  }
   figure {
    padding: 6rem 9rem;
    width: 100%;
    height: auto;
  }
   figure img {
    padding: 0 0 0;
    width: 100%;
    height: auto;
  
    -webkit-box-shadow: 5px 5px 20px 5px;
    box-shadow: 5px 5px 20px 5px;
  }
   figure video {
    -webkit-box-shadow: 5px 5px 20px 5px;
    box-shadow: 5px 5px 20px 5px;
  }
   figure figcaption,  figure figcaption i {
    font-family: "TiemposText-Regular", serif;
    /* font-family: serif; */
    font-size: 1rem;
    line-height: 1.5;
  }
  
   hr,  hr.one {
    margin: 3rem auto;
    width: 25%;
    border-width: 100px;
    border-radius: 100%;
    border-style: dotted;
    border-color: black;
  }
   hr.two {
    margin: 3rem auto;
    width: 25%;
    border-width: 100px;
    border-radius: 100%;
    border-style: dashed;
    border-color: black;
  
  }
   hr.three {
    margin: 3rem auto;
    width: 25%;
    border-width: 100px;
    border-radius: 100%;
    border-style: double;
    border-color: black;
  
  }
  .active {
    position: fixed;
    z-index: 9000;
    overflow: scroll;
    width: 100%;
    height: auto !important;
    margin: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 0px !important;
    background-color: white;
  }
  .introarticle.active {
    margin: 0 !important;
    background-color: transparent !important;
  }
  .visited {
    background-color: darkgrey;
  }
  
  /* virtual spaces */
  .downloads {
    padding: 5rem 0;
    width: 100%;
    display: flex;
  }
  .dl {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    cursor: alias;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 6rem;
    color: #19975D;
    text-decoration: none;
  }
  
  .mobilewarning {
    display: none;
    width: 100vw;
    height: 100vw;
    background-color: #19975D;
    border-radius: 100%;
    cursor: default;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .mobilewarning p {
    width: 75%;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 2rem;
    color: white;
    text-decoration: none;
  }
  
  /* stylings */
  p.pullquote {
    font-size: 1.5rem;
    margin: 2rem auto;
    padding: 0 3rem 1rem;
  }
  .pullquote i {
    font-size: 1.5rem;
  }
  
  .epigraph {
    padding: 3rem 0;
  }
  .epigraph p {
    width: 40%;
  }
  
  
  
  
  
  
  
  
  
  /* INDIVIDUAL ARTICLES */
  
  /* editors note */
  #editorsnote {
    margin-right: 0;
    background-color: transparent;
  }
  #editorsnote .articlebutton {
    background-color: #235BA8;
    color: white;
  }
  #editorsnote  {
    background-color: transparent;
    color: white;
  }
  #editorsnote .closebttn {
    background-color: white;
  }
  #editorsnote p {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  #editorsnote i {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
  }
  #editorsnote b {
    color: #235BA8
  }
  #editorsnote .authorbios {
    width: 100%;
    height: auto;
    padding: 3rem 0;
    display: grid;
    grid-template-columns: repeat(5, 20%);
  }
  #editorsnote .authorbios p {
    padding: 1rem;
    width: 100%;
    margin: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  #editorsnote .authorbios i {
    padding: 0;
    width: 100%;
    margin: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
  }
  
  /* issue credits */
  #issuecredits {
    margin-left: 0;
  }
  #issuecredits .articlebutton {
    background-color: white;
  }
  #issuecredits  {
    padding-top: 1rem;
    background-color: transparent;
    color: white;
  }
  #issuecredits .closebttn {
    background-color: white;
  }
  #issuecredits .authorbios {
    width: 100%;
    height: auto;
    padding: 3rem 0;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    background-color: #19975D;
  }
  #issuecredits .authorbios p {
    padding: 1rem;
    width: 100%;
    margin: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  #issuecredits .authorbios i {
    padding: 0;
    width: 100%;
    margin: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
  }
  #issuecredits .authorbios a {
    padding: 0.5rem 0;
    display: block;
    color: white;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  
  /* penarroyo */
  #penarroyo #zoombox {
    /* background-color: lightblue; */
    padding: 6rem 0;
  }
  #penarroyo #focal {
    margin: 2rem 6rem;
    max-height: 90vh;
    -moz-box-shadow:    inset 0 0 10px #62b186;
    -webkit-box-shadow: inset 0 0 10px #62b186;
    box-shadow:         inset 0 0 10px #62b186;
  }
  #penarroyo .panzoom {
    max-height: 90vh;
  }
  #penarroyo .instructions, #penarroyo .instructions a {
    /* margin: 6rem auto 0rem; */
    margin: 4rem auto;
    width: 100%;
    text-align: center;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
    text-decoration: none;
    color: #235BA8;
  }
  
  #penarroyo #focal img {
    color: white;
  }
  
  /* johnson */
  #johnson figure img {
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
  }
  
  /* erickson */
  #erickson .interview {
    padding: 2rem;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 0;
  }
  #erickson .a {
    width: 25%;
    margin-top: 1.5rem;
    padding-right: 1rem;
  }
  #erickson .b {
    width: 75%;
    margin-top: 1.5rem;
    padding-left: 1rem;
  }
  #erickson em {
    background-color: #98ccaf;
    color: black;
    padding: 0.25rem;
    font-weight: normal;
    cursor: pointer;
    font-style: normal;
  }
  #erickson sup {
    cursor: pointer;
  }
  #erickson .footnote {
    position: relative;
    font-size: 0;
    background-color: transparent;
    color: #62b186;
    overflow-y: scroll;
  }
  #erickson .footnote i {
    font-size: 0;
  }
  #erickson .fnclose {
    color: #98ccaf;
    text-align: center;
    cursor: pointer;
  }
  
  /* good */
  #good .interview {
    padding: 2rem;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 0;
  }
  
  #good .a {
    width: 25%;
    margin-top: 1.5rem;
    padding-right: 1rem;
  }
  #good .b {
    width: 75%;
    margin-top: 1.5rem;
    padding-left: 1rem;
  }
  
  
  /* bhaumik */
  
  
  /* choudhury */
  #choudhury figure img {
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
  }
  #choudhury figcaption {
    text-align: center;
    padding-top: 1rem;
  }
  
  /* lloyd */
  #lloyd figure img {
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
  }
  #lloyd figcaption {
    text-align: center;
    padding-top: 1rem;
  }
  
  /* rodenhouse */
  #rodenhouse b.sans{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  #rodenhouse b.bold{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  #rodenhouse b.stretch {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
  }
  #rodenhouse .dl {
    width: 50vw;
    height: 50vw;
  }
  #rodenhouse .mac {
    background-image: url("../../content/issuethree/rodenhouse/RingGYM link.gif");
  }
  #rodenhouse .windows {
    background-image: url("../../content/issuethree/rodenhouse/RingGYM2 link inverted.gif");
  }
  
  /* aguilar */
  
  /* moore */
  #moore #pullimage {
    padding: 3rem 25%;
  }
  
  /* braun */
  #braun .dl {
    width: 100vw;
    height: 100vw;
    background-image: url("../../content/issuethree/braun/virtualqueerality link.gif");
  }
  
  /* jessup */
  #jessup .epigraph p {
    /* color: #5c84bc; */
  }
  #jessup h3 i {
    margin: 0 auto;
    padding: 1rem 0 0;
    width: 50%;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 1.25rem;
  }
  #jessup .twobytwo {
    display: flex;
    flex-flow: row wrap;
    padding: 2rem;
  }
  #jessup .twobytwo figure {
    width: 50%;
    padding: 2rem;
  }
  
  /* ingram */
  #ingram .spam {
    width: 100% !important;
    font-size: 4rem;
    line-height: 1.25;
    text-align: justify;
    text-justify: inter-word;
  }
  
  
  /* durkac-somo */
  
  
  
  /* droqen */
  #droqen .dl {
    width: 100vw;
    height: 100vw;
    background-image: url("../../content/issuethree/droqen/yrrkey link.gif");
  }
  
  /* tuite-okeefe */
  #tuite-okeefe .buffer {
    padding: 3rem 0;
  }
  #tuite-okeefe p {
    /* padding: 0 15rem 1rem; */
  }
  #tuite-okeefe b {
    background-color: #5c84bc;
    color: white;
    padding: 0.25rem;
    font-weight: normal;
    cursor: pointer;
  }
  #tuite-okeefe sup {
    cursor: pointer;
  }
  #tuite-okeefe .footnote {
    position: relative;
    font-size: 0;
    font-weight: 500;
    background-color: #5c84bc;
    color: white;
    overflow-y: scroll;
  }
  #tuite-okeefe #headerfootnote {
    font-family: "TiemposText-Regular", serif;
    font-weight: 500;
    /* font-family: serif; */
  
  }
  #tuite-okeefe .fnclose {
    text-align: center;
    cursor: pointer;
  }
  #tuite-okeefe .fnimage {
    /* position: absolute; */
    width: 100%;
    height: auto;
  }
  
  
  /* grigg */
  #grigg .dl {
    width: 100vw;
    height: 100vw;
    background-image: url("../../content/issuethree/grigg/sphericalprojection link.gif");
  }
  
  
  
  
  
  /* MEDIA QUERIES */
  
  /* 1000px */
  @media screen and (max-width: 1000px) {
  
    .section-title h1 {
      font-size: 5rem;
    }
    .articlebutton h3 {
      max-width: 75%;
    }
    .articlebutton h4 {
      max-width: 75%;
    }
  
  
    /* ARTICLE CONTENT 1000px*/
     header {
      padding: 3rem 0;
    }
     h1 {
      width: 60%;
    }
     h2 {
      width: 60%;
    }
     h3 {
      width: 60%;
    }
     h4 {
    }
     p {
      width: 60%;
    }
     i {
      width: 60%;
    }
     figure {
      padding: 6rem;
    }
     figure figcaption,  figure figcaption i {
      font-size: 1rem;
      line-height: 1.5;
    }
  
     hr,  hr.one {
      border-width: 80px;
    }
     hr.two {
      border-width: 80px;
    }
     hr.three {
      border-width: 80px;
    }
  
    /* virtual spaces */
    .dl {
      font-size: 5rem;
    }
  
  
  
  
  
  
  
  /* INDIVIDUAL ARTICLES 1000px */
    /* editors note */
    #editorsnote {
      width: 100%;
      margin-right: 0.5rem;
    }
    #editorsnote .authorbios {
      grid-template-columns: repeat(1, 100%);
    }
    #issuecredits {
      width: 100%;
      margin-left: 0.5rem;
    }
    #issuecredits .authorbios {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 50%);
    }
  
    /* moore */
    #moore #pullimage {
      padding: 3rem 15%;
    }
  
  
  
  
  
  }
  
  
  
  
  
  /* 700px */
  @media screen and (max-width: 700px) {
    html {
      font-size: 85%
    }
    .section-title h1 {
      font-size: 4rem;
    }
    .articlebutton h3 {
      max-width: 75%;
    }
    .articlebutton h4 {
      max-width: 75%;
    }
  
  
    /* ARTICLE CONTENT 700px*/
     header {
      padding: 5rem 0 3rem;
    }
     h1 {
      width: 90%;
    }
     h2 {
      width: 90%;
    }
     h3 {
      width: 90%;
    }
     h4 {
      width: 100%;
    }
     p {
      width: 90%;
    }
     i {
      width: 90%;
    }
  
     figure {
      padding: 6rem 4rem;
    }
  
  
     hr,  hr.one {
      border-width: 60px;
    }
     hr.two {
      border-width: 60px;
    }
     hr.three {
      border-width: 60px;
    }
  
    .downloads {
      padding: 5rem 0;
      width: 100%;
      display: flex;
    }
    .dl {
      display: none;
    }
    .mobilewarning {
      display: flex;
    }
  
  
    /* INDIVIDUAL ARTICLES 700px */
    #issuecredits .authorbios {
      grid-template-columns: repeat(1, 100%);
    }
  
    /* jessup */
    #jessup .twobytwo figure {
      width: 100%;
      padding: 2rem;
    }
  
  
  
  }
  
  /* 500px */
  @media screen and (max-width: 500px) {
    .section-title h1 {
      font-size: 3rem;
    }
    /* INDIVIDUAL ARTICLES 500px */
    #penarroyo #focal {
      display: none;
    }
    #penarroyo .instructions:first-of-type {
      display: none;
    }
  
  }
  