.three main {
  padding: 0 1rem;
}
.three main section {
  min-height: 100vh;
}
.three main ul {
  display: flex;
}
.three main li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: clamp(50%, 50%, 100%); 
  height: clamp(50vh, 65vh, 75vh); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#section-one h1 { color: var(--three-green-one); }
#section-one li:nth-of-type(1) { background-color: var(--three-green-one); }
#section-one li:nth-of-type(2) { background-color: var(--three-blue-one); }
#section-two li { background-color: var(--three-green-two); }
#section-two h1 { color: var(--three-green-two); }
#section-three li { background-color: var(--three-green-three); }
#section-three h1 { color: var(--three-green-three); }
#section-four li { background-color: var(--three-green-four); }
#section-four h1 { color: var(--three-green-four); }
#section-five li { background-color: var(--three-purple-one); }
#section-five h1 { color: var(--three-purple-one); }
#section-six li { background-color: var(--three-purple-two); }
#section-six h1 { color: var(--three-purple-two); }
#section-seven li { background-color: var(--three-purple-three); }
#section-seven h1 { color: var(--three-purple-three); }

.three main a {
  text-align: center;
  text-decoration: none;
  color: var(--white);
}
.three main h1 {
  text-align: center;
  font-size: var(--big);
  font-size: clamp(var(--medium), 10vw, var(--big)); 
  font-weight: var(--light);
}
.three main h2 {
  text-align: center;
  font-size: var(--medium-small);
  font-weight: var(--light);
}
.three main h3 {
  text-align: center;
  font-size: var(--small);
  font-weight: var(--light);
}




/* ARTICLES */
article {
  display: grid;
  grid-template-areas: 
  ". a ."
  ". b ."
  "c c c";
  position: relative;
  overflow-y: scroll;
  z-index: -1;
}
.article-header {
  grid-area: a;
  position: static;
  padding: 1rem 0;
}
.article-header h1 {
  font-size: var(--medium);
  font-weight: var(--light);
  text-align: center;
}
.article-header h2 {
  margin-top: 1rem;
  font-size: var(--medium-small);
  font-weight: var(--light);
  text-align: center;
}
.description {
  margin-top: 2rem;
  font-size: var(--small);
  font-weight: var(--light);
  text-align: center;
}
.featured {
  grid-area: b;
  padding-top: 2rem;
}
.featured img {
  margin: 0 auto;
  width: 100%; 
  height: auto;
}
.featured figcaption {
  margin: 0 auto;
  max-width: 400px;
  font-size: var(--very-small);
  font-weight: var(--light);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-style: italic;
  text-align: center;
}

.content {
  grid-area: c;
  padding: 8rem;
  /* padding: clamp(6rem, 8rem, 10rem);  */

}
.content p {
  margin: 0 auto 1.5rem;
  /* width: clamp(500px, 600px, 100%); */
  width: 100%;
  max-width: 600px;
  font-size: var(--small);
  font-family: "TiemposText-Regular", serif;  
}
.content a {
  color: var(--three-blue-one);
}
.content a:hover {
  text-decoration-color: var(--three-green-one);
}
.content img {
  margin: 6rem auto 0;
  width: clamp(60%, 100%, 100%); 
  height: auto;
}
.content h6 {
  margin: 0 auto 6rem;
  max-width: 400px;
  font-size: var(--very-small);
  font-weight: var(--light);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-style: italic;
  text-align: center;
}
.content hr {
  margin: 6rem auto;
  width: 200px;
  border: 4px solid;
}

/* By Section */
.section-1 {
}
.section-2 .article-header {
  color: var(--three-green-two);
}
.section-2 hr {
  border-color: var(--three-green-two);
  background-color: var(--three-green-two);
}
.section-3 .article-header {
  color: var(--three-green-three);
}
.section-3 hr {
  border-color: var(--three-green-three);
  background-color: var(--three-green-three);
}
.section-4 .article-header {
  color: var(--three-green-four);
}
.section-4 hr {
  border-color: var(--three-green-four);
  background-color: var(--three-green-four);
}
.section-5 .article-header {
  color: var(--three-purple-one);
}
.section-5 hr {
  border-color: var(--three-purple-one);
  background-color: var(--three-purple-one);
}
.section-6 .article-header {
  color: var(--three-purple-two);
}
.section-6 hr {
  border-color: var(--three-purple-two);
  background-color: var(--three-purple-two);
}
.section-7 .article-header {
  color: var(--three-purple-three);
}
.section-7 hr {
  border-color: var(--three-purple-three);
  background-color: var(--three-purple-three);

}




/* By Article */
[id="Issue Three"] {
  color: var(--three-green-one);
}
[id="Issue Three"] strong {
  color: var(--three-blue-one);
}
[id="Issue Three"] .content p::first-line {
  line-height: 0.9;
}
[id="Issue Three"] .content p:first-child::first-letter {
  font-size: var(--big);
  vertical-align: sub;
}
[id="Issue Three"] .content p:nth-last-child(5) {
  margin-top: 3rem;
  padding-top: 0.5rem;
  border-top: 4px solid var(--three-purple-two);
  color: var(--three-purple-two);
}
[id="Issue Three"] .content p:nth-last-child(4) {
  padding-top: 0.5rem;
  border-top: 4px solid var(--three-green-three);
  color: var(--three-green-three);
}
[id="Issue Three"] .content p:nth-last-child(3) {
  padding-top: 0.5rem;
  border-top: 4px solid var(--three-purple-three);
  color: var(--three-purple-three);
}
[id="Issue Three"] .content p:nth-last-child(2) {
  padding-top: 0.5rem;
  border-top: 4px solid var(--three-purple-two);
  color: var(--three-purple-two);
}
[id="Issue Three"] .content p:nth-last-child(1) {
  padding-top: 0.5rem;
  border-top: 4px solid var(--three-green-two);
  color: var(--three-green-two);
}

[id="Contributors"] {

}
[id="Contributors"] .article-header h2 {
  display: none;
}
[id="Contributors"] .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
[id="Contributors"] .content p {
  padding-top: 0.5rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
[id="Contributors"] p:nth-of-type(2), [id="Contributors"] p:nth-of-type(21) {
  border-top: 4px solid var(--black);
}
[id="Contributors"] p:nth-of-type(13), [id="Contributors"] p:nth-of-type(17) {
  border-top: 4px solid var(--three-green-two);
}
[id="Contributors"] p:nth-of-type(8), [id="Contributors"] p:nth-of-type(9), [id="Contributors"] p:nth-of-type(22) {
  border-top: 4px solid var(--three-green-three);
}
[id="Contributors"] p:nth-of-type(3), [id="Contributors"] p:nth-of-type(5) {
  border-top: 4px solid var(--three-green-four);
}
[id="Contributors"] p:nth-of-type(1), [id="Contributors"] p:nth-of-type(4), [id="Contributors"] p:nth-of-type(15) {
  border-top: 4px solid var(--three-purple-one);
}
[id="Contributors"] p:nth-of-type(6), [id="Contributors"] p:nth-of-type(11), [id="Contributors"] p:nth-of-type(12), [id="Contributors"] p:nth-of-type(19) {
  border-top: 4px solid var(--three-purple-two);
}
[id="Contributors"] p:nth-of-type(7), [id="Contributors"] p:nth-of-type(14), [id="Contributors"] p:nth-of-type(18) {
  border-top: 4px solid var(--three-purple-three);
}
[id="Contributors"] p:nth-of-type(10), [id="Contributors"] p:nth-of-type(16), [id="Contributors"] p:nth-of-type(20) {
  border-top: 4px solid var(--three-blue-one);
}
[id="Contributors"] .content a {
  display: block;
  padding-top: 0.5rem;
  text-decoration: none;
  color: var(--grey);
  cursor: pointer;
}

[id="Cyrus Peñarroyo"] object {
  border-color: var(--three-green-two) !important;
}
[id="Cyrus Peñarroyo"] p:last-of-type {
  width: 100%;
}

[id="Benjamin Good"] strong {
  position: absolute;
  left: 1rem;
  font-weight: normal;
}