.three main {
  padding: 0 1rem;
}
.three main section {
  min-height: 100vh;
}
.three main li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#section-one li { background-color: var(--three-green-one); }
#section-one h1 { color: var(--three-green-one); }
#section-two li { background-color: var(--three-green-two); }
#section-two h1 { color: var(--three-green-two); }
#section-three li { background-color: var(--three-green-three); }
#section-three h1 { color: var(--three-green-three); }
#section-four li { background-color: var(--three-green-four); }
#section-four h1 { color: var(--three-green-four); }
#section-five li { background-color: var(--three-purple-one); }
#section-five h1 { color: var(--three-purple-one); }
#section-six li { background-color: var(--three-purple-two); }
#section-six h1 { color: var(--three-purple-two); }
#section-seven li { background-color: var(--three-purple-three); }
#section-seven h1 { color: var(--three-purple-three); }

.three main a {
  text-align: center;
  text-decoration: none;
  color: var(--white);
}
.three main h1 {
  text-align: center;
  font-size: var(--big);
  font-weight: var(--light);
}
.three main h2 {
  text-align: center;
  font-size: var(--medium-small);
  font-weight: var(--light);
}
.three main h3 {
  text-align: center;
  font-size: var(--small);
  font-weight: var(--light);
}




/* ARTICLES */
article {
  display: grid;
  grid-template-areas: 
  ". a ."
  ". b ."
  "c c c";
  position: relative;
  overflow-y: scroll;
  z-index: 0;
}
.article-header {
  position: static;
  padding: 1rem 0;
  grid-area: a;
}
.article-header h1 {
  font-size: var(--medium);
  font-weight: var(--light);
  text-align: center;
}
.article-header h2 {
  font-size: var(--medium-small);
  font-weight: var(--light);
  text-align: center;
}
.featured {
  grid-area: b;
}
.content {
  grid-area: c;
  padding: 8rem;
}
.content p {
  margin: 0 0 1.5rem;
  font-size: var(--small);
  font-family: "TiemposText-Regular", serif;  
}






/* By Article */
[id="Issue Three"] {
  color: var(--three-green-one);
}
[id="Issue Three"] strong {
  color: var(--three-blue-one);
}
[id="Issue Three"] .content p:nth-last-child(5) {
  margin-top: 3rem;
  padding-top: 0.5rem;
  border-top: 4px solid var(--three-purple-two);
  color: var(--three-purple-two);
}
[id="Issue Three"] .content p:nth-last-child(4) {
  padding-top: 0.5rem;
  border-top: 4px solid var(--three-green-three);
  color: var(--three-green-three);
}
[id="Issue Three"] .content p:nth-last-child(3) {
  padding-top: 0.5rem;
  border-top: 4px solid var(--three-purple-three);
  color: var(--three-purple-three);
}
[id="Issue Three"] .content p:nth-last-child(2) {
  padding-top: 0.5rem;
  border-top: 4px solid var(--three-purple-two);
  color: var(--three-purple-two);
}
[id="Issue Three"] .content p:nth-last-child(1) {
  padding-top: 0.5rem;
  border-top: 4px solid var(--three-green-two);
  color: var(--three-green-two);
}