<html>
    <head>
        <title>Take Shape Magazine</title>
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    </head>
    <body>
        <h1>Take Shape Magazine</h1>
        
        {{ content | safe }}

    </body>


</html>